.wholePage {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 100vh;
}

.wholePage h2 {
    margin: 2rem 0 ;
}

.logoLink {
    margin-top: 1rem;
}

.presentationContainer {
    display: flex;
    gap: 2rem;
}
.presentationContainer button {
    margin-top: 1rem;
    border: none;
    background: linear-gradient(90deg, #ff6ad5, #6a8dff);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    padding: 0.3rem 0.6rem;
}

.presentationContainer button:hover {
    padding: 0.35rem 0.65rem;
}

.presentation {
    width: 100%; 
    min-height: 80%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
